# pip install -r requirements.txt

# base ----------------------------------------
Cython
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python-headless==4.5.2.52
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tensorboard>=1.5
tqdm>=4.41.0

# logging -------------------------------------
# wandb

# plotting ------------------------------------
seaborn>=0.11.0
pandas

# export --------------------------------------
# coremltools>=4.1
# onnx>=1.8.1
# scikit-learn==0.19.2  # for coreml quantization

#pytorch
torch==1.9.0
torchvision 
torchaudio 
cudatoolkit==11.1 -c pytorch -c nvidia -c conda-forge

# extras --------------------------------------
thop  # FLOPS computation
streamlit
pycocotools
